.row.proximos-viajes
  each travel in travels
    .col-md-6.col-lg-4.mb-4
      .card
        img.card-img-top(src=`/assets/img/${travel.image}.jpg`, alt='travel')
        .card-body
          h3.text-uppercase #{travel.trip_name}
          p
            <i class="far fa-calendar-alt"></i>
            | #{travel.departure_date} - #{travel.return_date}
          p
            <i class="fas fa-users"></i>
            | #{travel.vacancies} Available
          p
            <i class="fas fa-dollar-sign"></i>
            | #{travel.price} USD
          p
            <i class="fas fa-map-marked-alt"></i>
            | #{travel.places_to_visit} and more.